*{
    margin: 0px;
    padding: 0px;
}

h1{
    font: bold 20px Tahoma;
}

header,section,article,hgroup,h1,nav,footer{
    display: block;
}

body{
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
}